* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  height: 100vh;
}

nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}

.nav-left a {
  color: #000000;
  text-decoration: none;
}

.nav-middle {
  display: flex;
  justify-content: space-between;
}

.nav-middle a {
  padding: 0 2em;
  color: #575757;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-middle a:hover {
  color: #000;
}
.nav-right > * {
  display: inline-block;
  margin-right: 0.5em;
}

/* Main Section */

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 3em;
}

.main-left {
  width: 40%;
}

.main-left img {
  width: 462px;
}

.small-img {
  display: flex;
}

.small-img img {
  width: 60%;
  height: 80%;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}

.main-left img {
  width: 100%;
  display: block;
}

.image-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.main-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main-right > * {
  margin-bottom: 20px;
}

.main-right-one {
  font-size: 25px;
  font-weight: 400;
}

.main-right-two {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0.2em;
}

.main-right-two,
.main-right-three {
  font-weight: 500;
}

.price h1 {
  font-size: 50px;
}
